body {
    color: white;
    text-align: center;
    font-family: 'Happy Monkey', cursive;
   background: linear-gradient(skyblue, yellow);

}

h1, h2, h3, h4, p {
    text-shadow: 1px 0px 1px black;
}

#bnf-img {
    width: 160px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}

#gift-img-hot:hover {
    background-image: url("images/hot.gif");
}

#gift-img-genius:hover {
    background-image: url("images/genius.gif");
    background-size: 400px 400px;
}

#gift-img-badass:hover {
    background-image: url("https://media.giphy.com/media/Gu13dC880a9P0bxuCN/giphy.gif");
    background-size: 400px 400px;
background-repeat: no-repeat;

   
}


#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
    
}

#footer {
   
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
    text-shadow: 0px 0px 3px black;
}
 
a { 
    color: white;
    text-shadow: 0px 0px 3px black;
}
a:hover {
    background-color: lightcoral;
    border-radius: 10px;
    padding: 0px 6px;
    
}

#darker-text {
    color: #E5F3FA;
}
/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/